/* App.css */
.container {
  width: 100%;
  margin: 20px auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 50px;
}

.employee-table {
  margin: 20px 0;
  width: 100%;
  box-shadow: #333;
}

.employee-table thead{
  background-color: #49a96e;
  color: white;
  text-align: left;
  width: 100px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
  padding: 5px;
  box-shadow: 
    5px 0 8px #888888,  /* Right shadow */
   -5px 0 8px #888888; /* Left shadow */
}

table th {
  background-color: #49a96e;
  color: white;
  padding: 10px;
  border: 2px solid #333;
}

table td {
  padding: 8px;
  border: .5px solid #333;
  /* border: 2px lightgray #333; */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

button {
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #333;
  background-color: #49a96e;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e4ab0f;
}

button:disabled {
  cursor: not-allowed;
  background-color: #49a96e;
  color: #0d0000;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 20px;
}

.span{
  background-color: #49a96e;
}
